<template>
  <div class="new-note-btn">
    <WWbutton
      color="#fbc02d"
      gradient
      fontColor="white"
      text="добавить заметку"
      fontSize="12"
      @click="isOpen = true"
    />

    <transition name="slide-down">
      <div v-if="isOpen" class="menu">
        <h2 class="title">Новая заметка</h2>
        <span class="content-length" :style="lengthLabelStyle">{{ contentLength }} символов</span>

        <text-input label="Название" v-model="noteTitle" />
        <br />
        <text-input v-model="noteContent" type="tarea" label="Содержание (макс. 210)" />
        <div class="action-buttons">
          <WWbutton
            class="action-btn"
            color="#e53935"
            fontColor="white"
            text="Отмена"
            fontSize="10"
            @click="isOpen = false"
          />
          <WWbutton
            :disabled="!isValidContent"
            class="action-btn"
            color="#fbc02d"
            fontColor="black"
            text="Добавить"
            fontSize="10"
            @click="add"
          />
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import WWbutton from "../common/Button";
import TextInput from "../common/Textinput";

export default {
  components: {
    WWbutton,
    TextInput
  },
  data() {
    return {
      isOpen: false,
      noteContent: "",
      noteTitle: "",
      maxLength: 210
    };
  },
  computed: {
    contentLength() {
      return this.noteContent.length;
    },
    isValidContent() {
      return this.isValidLength && this.noteTitle.length > 0;
    },
    isValidLength() {
      return (
        this.noteContent.length <= this.maxLength && this.noteContent.length > 0
      );
    },
    lengthLabelStyle() {
      return {
        color: this.isValidLength ? "#fbc02d" : "#e53935"
      };
    }
  },
  methods: {
    ...mapActions({
      addNewNote: "ADD_NOTE"
    }),
    add() {
      const newNote = {
        title: this.noteTitle,
        content: this.noteContent
      };
      this.addNewNote(newNote);
      this.noteContent = "";
      this.noteTitle = "";
      this.isOpen = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.new-note-btn {
  position: relative;

  .menu {
    position: absolute;
    top: 50px;
    width: 350px;

    background-color: white;
    border: 1px solid #fbc02d;
    border-radius: 3px;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px 15px;

    .title {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 20px;
      margin: 0px 0px 15px 0px;
    }
    .action-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 25px;

      .action-btn {
        margin-left: 7px;
      }
    }

    .content-length {
      position: absolute;
      top: 12px;
      right: 15px;

      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 300;
    }
  }
}
</style>

<style>
.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: left top;
}
.slide-down-enter,
.slide-down-leave-to {
  opacity: 0;
  transform: scale(0);
}
</style>
