<template>
  <div id="app">
    <TopBar />
    <div class="left-sidebar">
      <div class="left-sidebar__logo">
        <Logo />
      </div>
      <SidebarNav />
      <div class="left-sidebar__bottom">
        <div v-if="isAuthenticated" @click="signout" class="logout-button"></div>
      </div>
    </div>
    <router-view></router-view>
    <transition name="fade">
      <fullscreen-media-slider v-if="fullscreenSliderIsOpen"></fullscreen-media-slider>
    </transition>
    <vue-progress-bar></vue-progress-bar>
  </div>
</template>

<script>
import Logo from "@/components/Logo.vue";
import SidebarNav from "@/components/SidebarNav.vue";
import TopBar from "@/components/topbar/TopBar.vue";

import FullscreenMediaSlider from "@/components/FullscreenMediaSlider.vue";

export default {
  components: {
    Logo,
    SidebarNav,
    TopBar,
    FullscreenMediaSlider
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isUserAuthenticated;
    },
    fullscreenSliderIsOpen() {
      return this.$store.getters.mediaSliderIsOpen;
    }
  },
  methods: {
    signout() {
      this.$store.commit("UNSET_USER");
    }
  }
};
</script>


<style lang="scss">
#app {
  padding: 75px 90px;
  background: rgb(248, 249, 250);
  min-height: 100vh;
}

.left-sidebar {
  width: 65px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #fefefe;

  display: flex;
  flex-direction: column;
}

.left-sidebar__logo {
  width: 45px;
  margin: 10px auto 15px auto;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.left-sidebar__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  .logout-button {
    background-image: url("./assets/mainMenuIcons/logout.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    width: 24px;
    height: 24px;

    transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    &:hover {
      transform: scale(0.9);
    }
  }
}

.fade-enter-active {
  animation: fade-in 0.2s;
}
.fade-leave-active {
  animation: fade-in 0.1s reverse;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
</style>
