<template>
  <router-link :to="to">
    <slot />
  </router-link>
</template>

<script>
export default {
  props: {
    to: {
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
</style>