<template>
  <div class="fullscreen-media-slider">
    <h2 class="title">Все изображения</h2>
    <i @click="close" class="material-icons btn-close">close</i>

    <div class="images">
      <img
        v-for="(image, i) in images"
        :key="`fullscreenImage#${i}`"
        :src="image"
        class="preimage"
        @click="selectImage(i)"
        alt="mediaImage"
      />
    </div>

    <div class="currentImage">
      <img :src="currentImage" alt />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      currentImageIndex: 0
    };
  },
  computed: {
    images() {
      return this.$store.getters.currentResource.media;
    },
    currentImage() {
      return this.images[this.currentImageIndex];
    }
  },
  methods: {
    close() {
      this.$store.commit("CLOSE_MEDIA_SLIDER");
    },
    selectImage(index) {
      this.currentImageIndex = index;
    }
  },
  mounted() {
    document.documentElement.style.overflow = "hidden";
  },
  beforeDestroy() {
    document.documentElement.style.overflow = "auto";
  }
};
</script>

<style lang="scss" scoped>
.fullscreen-media-slider {
  background-color: rgba(1, 1, 1, 0.7);
  color: #fff;
  padding: 25px 75px;

  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .title {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }

  .btn-close {
    position: absolute;
    top: 20px;
    left: 96vw;
    cursor: pointer;

    &:hover {
      color: rgb(255, 153, 0);
    }
  }

  .images {
    margin-bottom: 25px;
  }

  .preimage {
    width: 13%;
    margin-right: 7px;
    cursor: pointer;
    transition: filter 0.3s linear;
    border-radius: 5px;

    &:hover {
      filter: sepia(80%);
    }
  }

  .currentImage {
    img {
      max-height: 600px;
    }
  }
}
</style>