<template>
  <div class="logo-container">
    <div class="logo"></div>
    <div class="patch"></div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.logo-container {
  position: relative;

  .logo {
    background-image: url("../assets/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 44px;
    height: 44px;
    position: relative;
    z-index: 3;
  }

  .patch {
    position: absolute;
    top: -10px;
    left: 0px;
    width: 60px;
    height: 45px;
    background-color: #fefefe;
    z-index: 2;
  }
}
</style>