<template>
  <div class="left-sidebar__nav">
    <div class="main-menu-icon">
      <mainMenuIcon to="editor">
        <svg viewBox="-24 0 480 480" xmlns="http://www.w3.org/2000/svg">
          <linearGradient id="gradient-animate" gradientUnits="userSpaceOnUse" fy="90%">
            <stop offset="0%" stop-color="#f12711">
              text (1)
              <animate
                id="a1"
                attributeName="stop-color"
                values="#f12711; #f5af19"
                begin="0; a2.end"
                dur="2s"
              />
              <animate
                id="a2"
                attributeName="stop-color"
                values="#f5af19; #f12711"
                begin="a1.end"
                dur="2s"
              />
            </stop>
            <stop offset="100%" stop-color="#f5af19">
              <animate
                id="a3"
                attributeName="stop-color"
                values="#f5af19; #f12711"
                begin="0; a4.end"
                dur="2s"
              />
              <animate
                id="a4"
                attributeName="stop-color"
                values="#f12711; #f5af19"
                begin="a3.end"
                dur="2s"
              />
            </stop>
          </linearGradient>
          <path
            id="menu"
            d="m8 128h32c3.667969 0 6.867188-2.496094 7.761719-6.054688l14.484375-57.945312h97.753906v360.9375l-56.992188 7.125c-4.003906.5-7.007812 3.902344-7.007812 7.9375v32c0 4.417969 3.582031 8 8 8h192c4.417969 0 8-3.582031 8-8v-32c0-4.035156-3.003906-7.4375-7.007812-7.9375l-56.992188-7.125v-360.9375h97.753906l14.484375 57.945312c.894531 3.558594 4.09375 6.054688 7.761719 6.054688h32c4.417969 0 8-3.582031 8-8v-112c0-4.417969-3.582031-8-8-8h-384c-4.417969 0-8 3.582031-8 8v112c0 4.417969 3.582031 8 8 8zm8-112h368v96h-17.753906l-14.484375-57.945312c-.894531-3.558594-4.09375-6.054688-7.761719-6.054688h-112c-4.417969 0-8 3.582031-8 8v376c0 4.035156 3.003906 7.4375 7.007812 7.9375l56.992188 7.125v16.9375h-176v-16.9375l56.992188-7.125c4.003906-.5 7.007812-3.902344 7.007812-7.9375v-376c0-4.417969-3.582031-8-8-8h-112c-3.667969 0-6.867188 2.496094-7.761719 6.054688l-14.484375 57.945312h-17.753906zm0 0"
          />
          <path
            d="m361.6875 171.089844-56 72c-1.585938 2.039062-2.089844 4.71875-1.351562 7.199218l20.992187 69.976563c-12.675781 1.355469-22.066406 12.40625-21.355469 25.136719.714844 12.730468 11.277344 22.664062 24.027344 22.597656v104c0 4.417969 3.582031 8 8 8h64c4.417969 0 8-3.582031 8-8v-104c12.71875.027344 23.238281-9.898438 23.949219-22.597656.710937-12.699219-8.632813-23.738282-21.277344-25.128906l20.992187-69.976563c.738282-2.476563.234376-5.160156-1.351562-7.199219l-56-72c-1.574219-1.855468-3.878906-2.925781-6.3125-2.925781-2.429688-.003906-4.738281 1.0625-6.3125 2.917969zm30.3125 292.910156h-48v-96h48zm24-120c0 4.417969-3.582031 8-8 8h-80c-4.417969 0-8-3.582031-8-8s3.582031-8 8-8h80c4.417969 0 8 3.582031 8 8zm-21.953125-24h-52.09375l-21.105469-70.34375 47.152344-60.625 47.152344 60.625zm0 0"
          />
          <path
            d="m344 256c0 13.253906 10.746094 24 24 24s24-10.746094 24-24-10.746094-24-24-24-24 10.746094-24 24zm32 0c0 4.417969-3.582031 8-8 8s-8-3.582031-8-8 3.582031-8 8-8 8 3.582031 8 8zm0 0"
          />
        </svg>
      </mainMenuIcon>
    </div>

    <div class="main-menu-icon">
      <mainMenuIcon to="resources">
        <svg viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m240 0h-104c-4.417969 0-8 3.582031-8 8v56h-120c-4.417969 0-8 3.582031-8 8v400c0 4.417969 3.582031 8 8 8h232c4.417969 0 8-3.582031 8-8v-464c0-4.417969-3.582031-8-8-8zm-8 416h-88v-16h88zm-216-296h112v240h-112zm216-32h-88v-24h88zm-216 288h112v24h-112zm128 8v-280h88v280zm88-368v32h-88v-32zm-104 64v24h-112v-24zm-112 336h112v48h-112zm128 48v-32h88v32zm0 0"
          />
          <path
            d="m479.742188 437.984375-96-368c-.535157-2.0625-1.871094-3.824219-3.714844-4.898437-1.839844-1.070313-4.03125-1.363282-6.089844-.8125l-120 32c-4.25 1.132812-6.789062 5.484374-5.679688 9.742187l96 368c.535157 2.0625 1.875 3.824219 3.71875 4.894531 1.839844 1.066406 4.03125 1.355469 6.085938.800782l120-32c4.242188-1.132813 6.777344-5.476563 5.679688-9.726563zm-201.246094-279.441406 104.542968-27.871094 3.761719 14.398437-104.535156 27.914063zm112.34375 2.050781 46.398437 177.980469-104.503906 27.882812-46.398437-177.992187zm50.472656 193.46875 8.191406 31.394531-104.542968 27.871094-8.160157-31.382813zm-71.023438-272.261719 8.710938 33.398438-104.542969 27.863281-8.703125-33.382812zm-12.578124 380.398438-8.710938-33.398438 104.542969-27.878906 8.703125 33.382813zm0 0"
          />
          <path
            d="m104 144h-64c-4.417969 0-8 3.582031-8 8v64c0 4.417969 3.582031 8 8 8h64c4.417969 0 8-3.582031 8-8v-64c0-4.417969-3.582031-8-8-8zm-8 64h-48v-48h48zm0 0"
          />
        </svg>
      </mainMenuIcon>
    </div>

    <div class="main-menu-icon">
      <mainMenuIcon to="notes">
        <svg viewBox="-20 0 456 456.39719" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m331.765625 14.496094c-9.296875 9.226562-14.515625 21.789062-14.496094 34.886718h-311.261719c-1.542968-.054687-3.039062.53125-4.136718 1.613282-1.101563 1.085937-1.703125 2.574218-1.671875 4.117187v395.769531c0 3.3125 2.5 5.5 5.808593 5.5h257.75c1.179688.085938 2.359376-.191406 3.378907-.792968.046875-.03125.089843.054687.136719.019531.113281-.078125.222656-.097656.328124-.1875.058594-.046875.113282-.070313.171876-.121094.089843-.082031.179687-.148437.261718-.234375.011719-.007812.023438-.011718.035156-.023437l96.789063-100.007813c.011719-.015625.023437-.03125.035156-.046875.246094-.257812.472657-.535156.667969-.835937.015625-.019532.027344-.042969.042969-.066406.195312-.304688.363281-.621094.5-.953126.007812-.019531.011719-.035156.015625-.050781.140625-.339843.242187-.695312.316406-1.054687 0-.011719-.171875-.027344-.167969-.039063.011719-.375-.011719-.75-.066406-1.125v-251.703125s.375.222656.386719.222656h.171875c22.488281.039063 42.203125-15.035156 48.0625-36.75 5.855469-21.714843-3.601563-44.65625-23.058594-55.933593-19.460937-11.277344-44.066406-8.078125-59.996094 7.796875zm-61.566406 421.554687v-79.667969h76.191406zm84-91.667969h-90.441407c-3.3125 0-5.558593 3.167969-5.558593 6.480469v93.519531h-246v-383h306.449219c1.808593 6.78125 4.910156 13.148438 9.140624 18.753907l-52.566406 52.5c-2.289062 2.347656-2.253906 6.101562.070313 8.410156 2.328125 2.3125 6.078125 2.316406 8.414062.015625l52.363281-52.542969c5.402344 4.171875 11.558594 7.269531 18.128907 9.117188zm39.226562-268.246093c-7.035156 7.15625-16.636719 11.203125-26.671875 11.246093h-.128906c-9.933594-.042968-19.429688-4.085937-26.34375-11.21875-.011719-.011718-.019531-.074218-.03125-.085937-14.667969-14.699219-14.640625-38.503906.058594-53.171875 14.695312-14.667969 38.503906-14.644531 53.171875.054688 14.667969 14.699218 14.644531 38.503906-.054688 53.175781zm0 0"
          />
          <path
            d="m62.199219 200.382812h111c3.3125 0 6-2.6875 6-6 0-3.316406-2.6875-6-6-6h-111c-3.3125 0-6 2.683594-6 6 0 3.3125 2.6875 6 6 6zm0 0"
          />
          <path
            d="m62.199219 240.382812h241c3.3125 0 6-2.6875 6-6 0-3.316406-2.6875-6-6-6h-241c-3.3125 0-6 2.683594-6 6 0 3.3125 2.6875 6 6 6zm0 0"
          />
          <path
            d="m303.199219 268.382812h-241c-3.3125 0-6 2.683594-6 6 0 3.3125 2.6875 6 6 6h241c3.3125 0 6-2.6875 6-6 0-3.316406-2.6875-6-6-6zm0 0"
          />
          <path
            d="m303.199219 308.382812h-241c-3.3125 0-6 2.683594-6 6 0 3.3125 2.6875 6 6 6h241c3.3125 0 6-2.6875 6-6 0-3.316406-2.6875-6-6-6zm0 0"
          />
        </svg>
      </mainMenuIcon>
    </div>

    <div class="main-menu-icon">
      <mainMenuIcon to="profile">
        <svg
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 55 55"
          style="enable-background:new 0 0 55 55;"
          xml:space="preserve"
        >
          <path
            d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752
                  c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348
                  c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98
                  c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033
                  c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55
                  c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287
                  c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104
                  c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1
                  c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764
                  l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5
                  c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957
                  c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545
                  c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.519,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8
                  s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.345-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545
                  c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313
                  c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z M42.459,48.132c-0.35,0.254-0.706,0.5-1.067,0.735
                  c-0.166,0.108-0.331,0.216-0.5,0.321c-0.472,0.292-0.952,0.57-1.442,0.83c-0.108,0.057-0.217,0.111-0.326,0.167
                  c-1.126,0.577-2.291,1.073-3.488,1.476c-0.042,0.014-0.084,0.029-0.127,0.043c-0.627,0.208-1.262,0.393-1.904,0.552
                  c-0.002,0-0.004,0.001-0.006,0.001c-0.648,0.16-1.304,0.293-1.964,0.402c-0.018,0.003-0.036,0.007-0.054,0.01
                  c-0.621,0.101-1.247,0.174-1.875,0.229c-0.111,0.01-0.222,0.017-0.334,0.025C28.751,52.97,28.127,53,27.5,53
                  c-0.634,0-1.266-0.031-1.895-0.078c-0.109-0.008-0.218-0.015-0.326-0.025c-0.634-0.056-1.265-0.131-1.89-0.233
                  c-0.028-0.005-0.056-0.01-0.084-0.015c-1.322-0.221-2.623-0.546-3.89-0.971c-0.039-0.013-0.079-0.027-0.118-0.04
                  c-0.629-0.214-1.251-0.451-1.862-0.713c-0.004-0.002-0.009-0.004-0.013-0.006c-0.578-0.249-1.145-0.525-1.705-0.816
                  c-0.073-0.038-0.147-0.074-0.219-0.113c-0.511-0.273-1.011-0.568-1.504-0.876c-0.146-0.092-0.291-0.185-0.435-0.279
                  c-0.454-0.297-0.902-0.606-1.338-0.933c-0.045-0.034-0.088-0.07-0.133-0.104c0.032-0.018,0.064-0.036,0.096-0.054l7.907-4.313
                  c1.36-0.742,2.205-2.165,2.205-3.714l-0.001-3.602l-0.23-0.278c-0.022-0.025-2.184-2.655-3.001-6.216l-0.091-0.396l-0.341-0.221
                  c-0.481-0.311-0.769-0.831-0.769-1.392v-3.545c0-0.465,0.197-0.898,0.557-1.223l0.33-0.298v-5.57l-0.009-0.131
                  c-0.003-0.024-0.298-2.429,1.396-4.36C21.583,10.837,24.061,10,27.5,10c3.426,0,5.896,0.83,7.346,2.466
                  c1.692,1.911,1.415,4.361,1.413,4.381l-0.009,5.701l0.33,0.298c0.359,0.324,0.557,0.758,0.557,1.223v3.545
                  c0,0.713-0.485,1.36-1.181,1.575l-0.497,0.153l-0.16,0.495c-0.59,1.833-1.43,3.526-2.496,5.032c-0.262,0.37-0.517,0.698-0.736,0.949
                  l-0.248,0.283V39.8c0,1.612,0.896,3.062,2.338,3.782l8.467,4.233c0.054,0.027,0.107,0.055,0.16,0.083
                  C42.677,47.979,42.567,48.054,42.459,48.132z"
          />
        </svg>
      </mainMenuIcon>
    </div>
  </div>
</template>

<script>
import mainMenuIcon from "@/components/mainMenu/mainMenuIcon.vue";

export default {
  components: {
    mainMenuIcon
  }
};
</script>

<style lang="scss" scoped>
.left-sidebar__nav {
  width: 100%;
  // height: 80%;
  flex-grow: 1;

  .main-menu-icon {
    width: 30px;
    margin: 20px auto 30px auto;
    cursor: pointer;

    &:hover {
      svg path {
        fill: url(#gradient-animate);
      }
    }
  }
}
</style>