<template>
  <div class="type-select">
    <TypeSelectItem
      v-for="(type, i) in types"
      :key="`t${i}`"
      @click="selectItem(type)"
      @select="changeSelectedItem"
      :selectedItem="selectedItem"
      :icon="type.icon"
      :title="type.name"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TypeSelectItem from "./TypeSelectItem";

export default {
  components: {
    TypeSelectItem
  },
  data() {
    return {
      selectedItem: null
    };
  },
  computed: {
    ...mapGetters({
      types: "getTypes"
    })
  },
  methods: {
    selectItem($e) {
      this.$emit("selected", $e);
    },
    changeSelectedItem($e) {
      this.selectedItem = $e;
    }
  }
};
</script>

<style lang="scss" scoped>
.type-select {
  display: flex;
}
</style>