<template>
  <div @click="select" :title="title" :style="properties" class="type-select__item">
    <i class="material-icons">{{ icon }}</i>
  </div>
</template>

<script>
export default {
  props: {
    icon: String,
    title: String,
    selectedItem: String
  },
  computed: {
    properties() {
      return {
        background: this.isSelected
          ? "linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25))"
          : "",
        color: this.isSelected ? "white" : ""
      };
    },
    isSelected() {
      return this.selectedItem == this.icon ? true : false;
    }
  },
  methods: {
    select() {
      this.$emit("select", this.icon);
      this.$emit("click");
    }
  }
};
</script>

<style lang="scss" scoped>
.type-select__item {
  cursor: pointer;
  padding: 5px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  &:hover {
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
    color: #fff;
  }
}
</style>