<template>
  <div class="type-label">
    <i class="material-icons type-label__icon">{{ icon }}</i>
    <span class="type-label__content">{{ content }}</span>
  </div>
</template>

<script>
export default {
  props: {
    icon: String,
    content: String
  }
};
</script>

<style lang="scss" scoped>
.type-label {
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));

  &__icon {
    font-size: 14px;
    margin-right: 3px;
  }
  &__content {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
}
</style>