<template>
  <div class="editor">
    <div class="editor-tools"></div>
    <select-text v-if="!currentText"></select-text>
    <paper v-else>
      <quill-editor
        ref="myTextEditor"
        v-model="content"
        v-ondelay:input.1000="onSave"
        :options="editorOption"
      ></quill-editor>
    </paper>
    <transition name="slide">
      <resources-sidebar v-if="currentText"></resources-sidebar>
    </transition>
  </div>
</template>

<script>
import Paper from "../components/editor/Paper";
import ResourcesSidebar from "../components/editor/ResourcesSidebar";
import SelectText from "../components/editor/SelectText";

import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

import { quillEditor } from "vue-quill-editor";

import { mapGetters, mapActions } from "vuex";

export default {
  components: {
    quillEditor,
    ResourcesSidebar,
    Paper,
    SelectText
  },
  data() {
    return {
      content: `<h2 class="ql-align-center"><span class="ql-font-serif">Загрузка текста...</span></h2>`,
      editorOption: {
        modules: {
          toolbar: [
            ["bold", "italic", "underline", "strike"],
            ["blockquote"],
            [{ header: 1 }, { header: 2 }],
            [{ list: "ordered" }, { list: "bullet" }],
            [{ indent: "-1" }, { indent: "+1" }],
            [{ direction: "rtl" }],
            [{ size: ["small", false, "large", "huge"] }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ font: [] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }],
            ["clean"],
            ["link", "image", "video"]
          ]
        }
      }
    };
  },
  methods: {
    ...mapActions({
      saveText: "SAVE_TEXT"
    }),
    note() {
      this.showWarnMsg();
    },
    onSave() {
      console.log("saving on delay -->", this.content);
      this.saveText(this.content);
    }
  },
  computed: {
    ...mapGetters(["currentText"]),
    editor() {
      return this.$refs.myTextEditor.quill;
    }
  },
  mounted() {
    if (this.currentText) {
      this.content = this.currentText.content;
    }
  },
  watch: {
    currentText() {
      if (this.currentText) {
        this.content = this.currentText.content;
      }
    }
  },
  notifications: {
    showSuccessMsg: {
      type: "success",
      title: "Hello there",
      message: "That's the success!"
    },
    showInfoMsg: {
      type: "info",
      title: "Hey you",
      message: "Here is some info for you"
    },
    showWarnMsg: {
      type: "warn",
      message: "That's the kind of warning"
    },
    showErrorMsg: {
      type: "error",
      title: "Wow-wow",
      message: "That's the error"
    }
  }
};
</script>

<style lang="scss" scoped>
.editor {
  max-width: 960px;
  position: relative;

  &-tools {
    position: fixed;
    top: 10px;
    left: 80px;
    z-index: 5;
    margin-top: 5px;
  }

  &-tool {
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    line-height: 20px;

    i {
      font-size: 18px;
    }
  }

  &-content {
    :focus {
      outline: none;
    }
  }
}
</style>
