<template>
  <div v-cloak class="notes">
    <div v-for="note in filteredNotes" :key="note._id" class="note-container">
      <note :title="note.title" :text="note.content" :id="note._id" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapGetters, mapActions } from "vuex";
import Note from "@/components/notes/Note";

export default {
  components: {
    Note
  },
  computed: {
    ...mapGetters(["notes", "filteredNotes"])
  },
  mounted() {
    this.$parent.$el.style.backgroundColor = "white";
  },
  beforeDestroy() {
    this.$parent.$el.style.backgroundColor = "#f8f9fa";
  },
  created() {
    this.$store.dispatch("GET_NOTES");
  }
  // methods: {
  //     ...mapActions({
  //         getNotes: 'GET_NOTES'
  //     })
  // }
};
</script>

<style lang="scss" scoped>
.notes {
  background-color: #fff;
  width: 100%;
  // height: 100vh;

  display: flex;

  margin: -155px 0px 0px -125px;
  padding: 175px 0px 0px 175px;
}
</style>