<template>
  <div class="resources">
    <div v-if="currentPageState == 0" class="file-step">
      <text-icon
        v-for="(text, i) in texts"
        :key="`text#${i}`"
        :filename="text.textName"
        class="file"
        @click="selectFile(text._id)"
      />
    </div>

    <div v-if="currentPageState == 1" class="cards-step">
      <div class="behind-sidebar">
        <div class="behind-sidebar__img"></div>
        <span class="behind-sidebar__text">{{ behindSidebarText }}</span>
      </div>
      <resource-card
        v-for="(resource, i) in resources"
        :key="`resid#${i}`"
        :iconType="resource.typeIcon"
        mediaCount="5"
        description="Текст ограниченный каким-то количеством символов (краткое описание)"
        :title="resource.name"
        class="resource-card"
        @click="openNewResource(resource._id)"
      />
      <NewResourceBtn @click="createResource" />
    </div>
    <resource-detail-sidebar
      v-if="currentPageState == 1"
      @added="onAdd"
      @close="isSidebarOpen = false"
      :isOpen="isSidebarOpen"
    />
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

import TextIcon from "@/components/resources/TextIcon";
import ResourceCard from "@/components/resources/ResourceCard";
import NewResourceBtn from "@/components/resources/NewResourceButton";
import ResourceDetailSidebar from "@/components/resources/ResourceDetailSidebar";

export default {
  components: {
    TextIcon,
    ResourceCard,
    ResourceDetailSidebar,
    NewResourceBtn
  },
  data() {
    return {
      isSidebarOpen: false,
      behindSidebarText: "Выберите ресурс или начните создание нового"
    };
  },
  computed: {
    ...mapGetters({
      currentPageState: "currentResourcesPageState",
      texts: "currentUserTexts",
      resources: "filteredResources"
    })
  },
  methods: {
    ...mapMutations({
      setCreatingStatus: "SET_CREATING_STATUS",
      search: "SET_RESOURCE_QUERY_STRING",
      setCurrentResource: "SET_CURRENT_RESOURCE"
    }),
    selectFile(id) {
      this.$store.dispatch("CHANGE_CURRENT_TEXT", id);
      this.$store.commit("RESOURCE_PAGE_STATE", 1);
    },
    openNewResource(id) {
      this.isSidebarOpen = false;

      //временено, пока нет логики предупреждения
      // об идущем процессе создания нового ресурса
      this.setCreatingStatus(false);

      // симуляция загрузки нового ресурса
      setTimeout(() => {
        this.setCurrentResource(id);
        this.isSidebarOpen = true;
      }, 200);
    },
    createResource() {
      this.setCreatingStatus(true);

      this.isSidebarOpen = false;
      setTimeout(() => {
        this.isSidebarOpen = true;
      }, 200);
    },
    onAdd($e) {
      console.log("added", $e);
      this.resources.push($e);
    }
  },
  mounted() {
    this.$parent.$el.style.backgroundColor = "white";
  },
  beforeDestroy() {
    this.$parent.$el.style.backgroundColor = "#f8f9fa";
  }
};
</script>

<style lang="scss" scoped>
.resources {
  padding-left: 30px;
  padding-top: 30px;

  .file-step {
    display: flex;
    flex-wrap: wrap;

    .file {
      margin-right: 25px;
    }
  }

  .cards-step {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;

    .behind-sidebar {
      position: absolute;
      left: 70%;
      top: 50%;
      transform: translateY(-50%);

      display: flex;
      align-items: center;

      &__img {
        width: 75px;
        height: 75px;
        background-image: url("../assets/behindSidebar.png");
        background-repeat: no-repeat;
        background-size: contain;

        margin-right: 20px;
      }

      &__text {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 22px;
        display: block;
        max-width: 350px;
      }
    }

    .resource-card {
      margin-right: 20px;
    }
  }
}
</style>