<template>
  <div class="signup-page">
    <div class="signup-form">
      <div class="logo"></div>
      <h2 class="form-header">Регистрация</h2>
      <div class="input-group">
        <text-input v-model="login" class="email" type="text" label="login"></text-input>
        <text-input v-model="password" class="password" type="password" label="password"></text-input>
        <WWbutton @click="signup" color="orange" text="Регистрация" />
      </div>
    </div>
  </div>
</template>

<script>
import TextInput from "../components/common/Textinput";
import WWbutton from "../components/common/Button";

export default {
  components: {
    TextInput,
    WWbutton
  },
  data() {
    return {
      login: "",
      password: ""
    };
  },
  methods: {
    signup() {
      const user = {
        login: this.login,
        password: this.password
      };
      this.$store.dispatch("SIGNUP", user);
    }
  }
};
</script>

<style lang="scss" scoped>
.signup-page {
  display: flex;
  justify-content: center;
  padding-top: 200px;

  .signup-form {
    width: 350px;
    box-sizing: border-box;
    background-color: white;
    padding: 30px 45px;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
      background-image: url("../assets/big-logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 60px;
      width: 100%;
    }

    .input-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .email,
      .password {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .form-header {
      font-family: "Roboto", sans-serif;
      font-weight: 200;
      margin-bottom: 25px;
      font-size: 24px;
      line-height: 28px;
    }
  }
}
</style>