<template>
  <div class="custom-fields">
    <MediaPlaceholder
      v-if="customFields.length == 0"
      class="custom-fields__placeholder"
      icon="grain"
      text="Пользовательские поля для данного ресурса не найдены"
    />

    <template v-else>
      <h2 class="custom-fields__title">Мои поля</h2>
      <CustomField
        v-for="(field, i) in customFields"
        :key="`f${i}`"
        :field="field"
        class="custom-fields__item"
      />
    </template>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import CustomField from "./CustomField";
import MediaPlaceholder from "@/components/editor/MediaPlaceholder";

export default {
  components: {
    CustomField,
    MediaPlaceholder
  },
  computed: {
    ...mapGetters(["currentResource"]),
    customFields() {
      return this.currentResource.customFields;
    }
  }
};
</script>

<style lang="scss" scoped>
.custom-fields {
  height: 800px;

  &__placeholder {
    position: absolute;
    margin-top: -30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0 0 15px 0;
  }

  &__item {
    margin-bottom: 10px;
  }
}
</style>