<template>
  <div class="custom-field">
    <span class="custom-field__title">{{ field.title }}</span>
    <span class="custom-field__content">{{ field.content }}</span>
  </div>
</template>

<script>
export default {
  props: {
    field: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.custom-field {
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  &__title {
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
    font-weight: 400;
    color: #fff;
    margin-right: 10px;
    padding: 3px 7px;
    border-radius: 3px;
  }
}
</style>