<template>
  <div class="main-content">
    <TextInput :readonly="true" class="main-content__input" :value="currentResource.name" />

    <TextInput
      :readonly="true"
      :value="currentResource.shortDescription"
      type="tarea"
      class="main-content__input"
      label="Краткое описание"
    />

    <TextInput
      :readonly="true"
      :value="currentResource.description"
      type="tarea"
      class="main-content__input"
      label="Описание"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import TypeLabel from "../TypeSelect/TypeLabel";
import TextInput from "@/components/common/Textinput";

export default {
  components: {
    TypeLabel,
    TextInput
  },
  computed: {
    ...mapGetters(["currentResource"])
  }
};
</script>

<style lang="scss" scoped>
.main-content {
  &__input {
    margin-bottom: 15px;
  }
}
</style>