<template>
  <div class="media-content">
    <MediaPlaceholder
      icon="crop_original"
      text="У этого ресурса пока что нет прикрепленных изображений :("
    />
  </div>
</template>

<script>
import MediaPlaceholder from "@/components/editor/MediaPlaceholder";
import { mapGetters } from "vuex";

export default {
  components: {
    MediaPlaceholder
  },
  computed: {
    ...mapGetters(["currentResource"])
  }
};
</script>

<style lang="scss" scoped>
.media-content {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -30px;
}
</style>