<template>
  <div class="resource-detail">
    <TypeLabel
      class="typeLabel"
      :icon="currentResource.typeIcon"
      :content="currentResource.typeName"
    />

    <div class="bookmarks">
      <ResourceBookmark
        v-for="(item, i) in groupedData"
        :key="`kt${i}`"
        :icon="item.icon"
        :name="item.name"
        :bgColor="item.color"
        @click="currentTabComponent = item.title"
      />
    </div>

    <transition name="component-fade" mode="out-in">
      <component :is="currentTabComponent"></component>
    </transition>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TextInput from "@/components/common/Textinput";
import TypeLabel from "../TypeSelect/TypeLabel";

import ResourceBookmark from "../ResourceBookmark";
import MainContent from "./MainContent";
import MediaContent from "./MediaContent";
import CustomFields from "./CustomFields";

export default {
  components: {
    TextInput,
    TypeLabel,
    ResourceBookmark,
    MainContent,
    MediaContent,
    CustomFields
  },
  data() {
    return {
      currentTabComponent: "mainContent"
    };
  },
  computed: {
    ...mapGetters(["currentResource"]),
    groupedData() {
      return [
        {
          name: "Основное",
          title: "MainContent",
          icon: "storage",
          color: "#d81b60"
        },
        {
          name: "Медиа",
          title: "MediaContent",
          icon: "attach_file",
          color: "#43a047"
        },
        {
          name: "Мои поля",
          title: "CustomFields",
          icon: "grain",
          color: "#00b0ff"
        }
      ];
    }
  }
};
</script>

<style lang="scss" scoped>
.resource-detail {
  margin-top: 30px;
  padding: 25px 30px;
  position: relative;
  right: 0;

  .bookmarks {
    position: absolute;
    padding-top: 75px;
    left: -90px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }

  .typeLabel {
    position: absolute;
    top: 10px;
    right: 25px;
  }
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.2s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>