<template>
  <div class="empty-list-placeholder">
    <div class="content">
      <div class="empty-list-placeholder__img">
        <i class="material-icons">search</i>
        <i class="material-icons">accessibility</i>
        <i class="material-icons">history</i>
        <i class="material-icons">place</i>
      </div>
      <div class="empty-list-placeholder__text">{{ text }}</div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    text: String
  }
};
</script>

<style lang="scss" scoped>
.empty-list-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__img {
    opacity: 0.7;
    i {
      margin-right: 15px;
    }
  }

  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
  }

  .content {
    transform: translateY(-50%);
  }
}
</style>