<template>
  <div class="media-placeholder">
    <i class="material-icons">{{ icon }}</i>
    <p>{{ text }}</p>
  </div>
</template>

<script>
export default {
  props: {
    icon: String,
    text: String
  }
};
</script>

<style lang="scss" scoped>
.media-placeholder {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  i {
    font-size: 82px;
    background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
  }
}
</style>