<template>
  <div class="media">
    <template v-if="preImages.length == 0">
      <MediaPlaceholder
        icon="crop_original"
        text="У этого ресурса пока что нет прикрепленных изображений :("
      />
    </template>
    <template v-else>
      <h2 class="media-title">медиа</h2>
      <div class="media-content">
        <img
          v-for="(image, i) in preImages"
          :src="image"
          :key="`image#${i}`"
          class="media-content__image"
          @click="openSlider"
          alt="image"
        />

        <wwbutton class="media__more-btn" text="Еще" transparent @click="openSlider" />
      </div>
    </template>
  </div>
</template>

<script>
import Wwbutton from "../common/Button";
import MediaPlaceholder from "./MediaPlaceholder";
import { mapGetters, mapMutations } from "vuex";

export default {
  components: {
    Wwbutton,
    MediaPlaceholder
  },
  computed: {
    ...mapGetters({
      currentResource: "currentResource"
    }),
    preImages() {
      return this.currentResource.media.slice(0, 2);
    }
  },
  methods: {
    ...mapMutations({
      openSlider: "OPEN_MEDIA_SLIDER"
    })
  }
};
</script>

<style lang="scss" scoped>
.media {
  &-title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 24px;
    text-transform: lowercase;
  }

  &-content {
    position: relative;

    &__image {
      background-size: cover;
      width: 40%;

      cursor: pointer;
      margin-right: 10px;

      transition: filter 0.1s ease;

      &:hover {
        filter: sepia(75%);
      }
    }

    &__more-btn {
      position: absolute;
      right: 10%;
      top: 50%;
      transform: translateY(-10%);
    }
  }
}
</style>