<template>
  <div class="c-newTextIcon">
    <span class="icon" @click="isOpen = true">
      <i class="material-icons plus">assignment</i>
    </span>
    <span class="title" @click="isOpen = true">Новый текст</span>

    <transition name="slide-down">
      <div v-if="isOpen" class="context-menu">
        <i class="material-icons context-menu__close" @click="isOpen = false">close</i>
        <div class="context-menu__title">Введите название файла</div>
        <hr size="1" />
        <div class="context-menu__input-group">
          <text-input v-model="fileName" />
          <div>
            <wwbutton class="context-menu__btn" text="ok" color="#ff3d00" @click="createNewText" />
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import TextInput from "@/components/common/Textinput";
import Wwbutton from "@/components/common/Button";

export default {
  components: {
    TextInput,
    Wwbutton
  },
  data() {
    return {
      isOpen: false,
      fileName: ""
    };
  },
  methods: {
    ...mapActions({
      createText: "CREATE_NEW_TEXT"
    }),
    createNewText() {
      this.$Progress.start();
      this.createText(this.fileName);
      this.isOpen = false;
      this.fileName = "";
    }
  }
};
</script>

<style lang="scss" scoped>
.c-newTextIcon {
  max-width: 60px;
  position: relative;

  &:hover {
    .icon .plus {
      color: #ff3d00;
    }

    .title {
      text-decoration: underline;
    }
  }

  .icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 5px 0;

    .plus {
      transition: color 0.2s cubic-bezier(0.77, 0, 0.175, 1);
      font-size: 36px;
      color: #ffa64e;
    }
  }

  .title {
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
  }

  .context-menu {
    min-width: 230px;
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 5px;
    position: absolute;
    background-color: #fff;
    top: 10px;
    left: 75px;

    &__close {
      font-size: 10px;
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }

    &__title {
      margin: 0;
      font-size: 11px;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
    }

    &__input-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__btn {
      padding: 2px 7px;
      margin-left: 5px;
    }

    hr {
      margin: 0;
      color: lightgray;
    }
  }
}
</style>