<template>
  <div class="paper">
    <slot></slot>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.paper {
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #fff;
  padding: 50px;
  position: relative;
  z-index: 1;

  margin-bottom: 15px;
  min-height: 860px;
}

@media screen and (max-width: 1600px) {
  .paper {
    width: 85%;
  }
}
</style>