<template>
  <div v-if="currentSidebarState == 1" class="resources-sidebar">
    <i
      class="material-icons resources-sidebar__toListBtn"
      @click="toResourceList"
    >format_list_bulleted</i>
    <h1 class="resources-sidebar__title">
      Ресурсы текста
      <br />
      <text-label :name="currentText.textName" />
    </h1>
    <h2 class="resource-title">
      <i class="material-icons">{{ currentResource.typeIcon }}</i>
      {{ currentResource.typeName}}
    </h2>
    <div class="resource-content">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa doloremque iure natus delectus! Quisquam cupiditate officiis ex voluptate? Similique, ipsam odio nihil consequuntur delectus enim? Labore repellat voluptas dolor nemo eveniet. Eveniet nemo porro accusamus omnis explicabo corrupti iusto obcaecati sequi, sunt minus ut, dolore quam laboriosam suscipit, quos fuga et! Hic, illum quod odio voluptatum repellendus nam in harum aspernatur qui quasi blanditiis iure ducimus quaerat sit praesentium aut est tempora sequi sed. Inventore dicta iste saepe labore nostrum culpa laborum, quasi voluptates soluta molestiae temporibus eos ea deserunt omnis incidunt itaque quae quibusdam officiis consectetur assumenda modi distinctio nesciunt dolor? Dignissimos, cum magni. Consequuntur a eveniet ipsa blanditiis similique iste. Omnis corporis molestias, optio quae nemo ipsam? Neque quisquam rem placeat dicta facere, eaque nihil debitis architecto, iusto totam velit nisi ipsam nostrum autem corrupti ducimus dolore ea necessitatibus ad in vitae aliquid, enim eum vero? Quidem, maxime?</p>
    </div>
    <div class="media-container">
      <MediaSlider />
    </div>
  </div>
  <div v-else-if="currentSidebarState == 0" class="resources-sidebar">
    <resources-list />
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

import MediaSlider from "./MediaSlider";
import ResourcesList from "./ResourcesList";
import TextLabel from "./TextLabel";

export default {
  components: {
    MediaSlider,
    ResourcesList,
    TextLabel
  },
  computed: {
    ...mapGetters(["currentResource", "currentSidebarState", "currentText"])
  },
  methods: {
    ...mapMutations({
      toResourceList: "OPEN_RESOURCES_LIST"
    })
  },
  mounted() {
    console.log(this.currentText);
  }
};
</script>

<style lang="scss" scoped>
.resources-sidebar {
  position: fixed;
  bottom: 15px;
  right: 15px;
  top: 75px;
  min-width: 15%;
  width: 30%;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: white;
  padding: 15px 20px;

  &__title {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 24px;

    i {
      font-size: 18px;
      cursor: pointer;
      right: 0;
    }
  }

  &__toListBtn {
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 22px;

    &:hover {
      color: #744500;
    }
  }
}

.resource {
  &-title {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;

    i {
      vertical-align: bottom;
      font-size: 18px;
    }
  }

  &-content {
    p {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      line-height: 25px;
      text-indent: 25px;
      font-size: 14px;
    }
  }
}
</style>