<template>
  <div class="resources-list">
    <WWbutton
      class="change-text"
      color="#fbc02d"
      gradient
      fontColor="white"
      text="Выбрать другой текст"
      fontSize="12"
      @click="changeText(null)"
    />

    <h2 class="resources-list__title">
      Ресурсы текста
      <br />
      <text-label :name="currentText.textName" />
    </h2>
    <ul>
      <li
        v-for="(item, i) in currentResources"
        :key="`itemofrl${i}`"
        class="list-item"
        @click="selectResource(item._id)"
      >
        <i class="material-icons">{{ item.typeIcon }}</i>
        <span>{{ item.name }}</span>
      </li>
    </ul>
    <list-placeholder
      v-if="currentResources && currentResources.length < 1"
      text="Здесь пока нет ресурсов, но Вы всегда можете их добавить"
    />
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import TextLabel from "./TextLabel";
import ListPlaceholder from "./ListPlaceholder";
import WWbutton from "../common/Button";

export default {
  components: {
    TextLabel,
    ListPlaceholder,
    WWbutton
  },
  computed: {
    ...mapGetters(["currentText", "currentResources"]),
    currentResourcesList() {
      return this.currentText.resources;
    }
  },
  methods: {
    ...mapMutations({
      selectResource: "SELECT_RESOURCE",
      setCurrentText: "SET_CURRENT_TEXT",
      changeResPageState: "RESOURCE_PAGE_STATE"
    }),
    changeText(val) {
      // временно, пока ресурсы работают не через component
      this.setCurrentText(val);
      this.changeResPageState(0);
    }
  },
  activated() {
    console.log(this.currentResources);
  }
};
</script>

<style lang="scss" scoped>
.resources-list {
  position: relative;
  height: 100%;

  .change-text {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .list-item {
    list-style-type: none;
    margin: 0;
    padding: 5px 5px;
    cursor: pointer;

    display: flex;
    align-items: center;

    &:hover {
      background: #f2994a;
      background: linear-gradient(to right, #f2994a, #f2c94c);
    }

    i {
      font-size: 16px;
      margin-right: 3px;
    }
    span {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
    }
  }
}
</style>