<template>
  <div class="select-container">
    <h2 class="select-title">Выберите текст</h2>
    <hr size="1" />
    <div class="text-list">
      <text-icon
        v-for="(text, i) in currentUserTexts"
        :key="`txt#${i}`"
        :filename="text.textName"
        @click="selectText(text._id)"
      ></text-icon>

      <new-text-icon />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";

import NewTextIcon from "@/components/editor/NewTextIcon";
import TextIcon from "../resources/TextIcon";

export default {
  components: {
    TextIcon,
    NewTextIcon
  },
  computed: {
    ...mapGetters(["currentUserTexts"])
  },
  methods: {
    ...mapActions({
      changeCurrentText: "CHANGE_CURRENT_TEXT"
    }),
    ...mapMutations({
      changeResourceState: "RESOURCE_PAGE_STATE"
    }),
    selectText(id) {
      this.changeCurrentText(id);
      this.changeResourceState(1);
    }
  }
};
</script>

<style lang="scss" scoped>
.select-container {
  width: 100%;
  max-width: 960px;
  height: 90vh;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  hr {
    margin: 15px 0 30px 0;
    color: lightgray;
  }

  .select-title {
    padding: 15px;
    padding-bottom: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
  }

  .text-list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 30px;
    width: 100%;
    max-height: 85%;
  }
}
</style>