<template>
  <div class="textName">{{ name }}</div>
</template>

<script>
export default {
  props: {
    name: String
  }
};
</script>

<style lang="scss" scoped>
.textName {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 400;
  background: linear-gradient(to right, #f12711, #f5af19);
  color: #fff;
  padding: 1px 7px;
  border-radius: 3px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}
</style>