<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto: 200,300,400,500&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>wworkshop-frontend</title>
    <style>
      .quill-editor div.ql-toolbar{
        position: fixed;
        top: 0px;
        left: 70px;
        border: none;
        height: 45px;

        z-index: 99;
        background-color: white;
        width: 80%;
        box-shadow: rgba(82, 82, 82, 0.15) 0px 1px 0px 0px;
      }
      .quill-editor div.ql-container{
        border: none;
        z-index: 10;
        padding: 30px;
      }
      .ql-font-roboto{
         font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but wworkshop-frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
