<template>
  <div class="new-custom-fields-form">
    <h2 class="new-custom-fields-form__title">
      Мои поля
      <span @click="addCustomField" class="add-btn">+</span>
    </h2>

    <div v-for="(field, i) in fields" :key="`cfi${i}`" class="new-custom-field">
      <input v-model="field.title" @change="saveFields" type="text" class="new-custom-field__title" />
      <input
        v-model="field.content"
        @change="saveFields"
        type="text"
        class="new-custom-field__content"
      />

      <span class="delete-btn" @click="deleteField(i)">
        <i class="material-icons">remove_circle</i>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: [
        {
          title: "Новое поле",
          content: "Значение поля"
        }
      ]
    };
  },
  methods: {
    addCustomField() {
      this.counter++;

      this.fields.push({
        id: this.counter,
        title: "Новое поле",
        content: "Значение поля"
      });
    },
    deleteField(index) {
      this.fields.splice(index, 1);
    },
    saveFields() {
      this.$emit("changed", this.fields);
    }
  }
};
</script>

<style lang="scss" scoped>
.new-custom-fields-form {
  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;

    .add-btn {
      margin-left: 10px;
      font-size: 14px;
      display: inline-block;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      font-weight: 400;
      background: linear-gradient(
        to right,
        rgb(241, 39, 17),
        rgb(245, 175, 25)
      );
    }
  }

  .new-custom-field {
    display: flex;
    margin-bottom: 10px;

    &__title {
      background: linear-gradient(
        to right,
        rgb(241, 39, 17),
        rgb(245, 175, 25)
      );
      font-weight: 400;
      font-size: 14px;
      color: #fff;
      min-width: 50px;
      // max-width: 200px;
      margin-right: 10px;
      padding: 3px 7px;
      border-radius: 3px;
      border: none;
      display: inline-block;
    }

    &__content {
      border: none;
    }

    &__title,
    &__content {
      &:focus {
        outline: none;
      }
    }

    .delete-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      color: #000;
      margin-left: 10px;
      cursor: pointer;

      transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      &:hover {
        color: rgb(241, 39, 17);
      }

      i {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
</style>