<template>
  <div class="c-addNewResource" @click="$emit('click')">
    <i class="material-icons c-addNewResource__icon">add</i>
    <span class="c-addNewResource__title">Добавить ресурс</span>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.c-addNewResource {
  width: 230px;
  height: 115px;
  background-color: #f7f7f7;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 5px 20px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease-in-out;

  border: 1px solid transparent;

  &__icon {
    font-size: 20px;
  }

  &__title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }

  &:hover {
    background-color: #ffe082;
    transform: scale(0.98);
    border-color: #f4511e;
  }
}
</style>