<template>
  <div class="new-resource-form">
    <TextInput v-model="formData.name" placeholder="Название" class="form-input" />

    <TextInput
      v-model="formData.shortDescription"
      type="tarea"
      label="Краткое описание"
      class="form-input"
    />

    <TextInput v-model="formData.description" type="tarea" label="Описание" class="form-input" />

    <TypeSelect @selected="typeSelected" class="type-select" />

    <NewCustomFields @changed="saveCustomFields" />

    <div class="buttons">
      <WWbutton
        color="#e53935"
        fontColor="white"
        text="Отмена"
        @click="reset"
        class="action-btn"
        fontSize="14"
      />

      <WWbutton
        color="#fbc02d"
        fontColor="white"
        text="Добавить"
        :disabled="!isValid"
        @click="create"
        class="action-btn"
        fontSize="14"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import NewCustomFields from "./NewCustomFields";
import TextInput from "../common/Textinput";
import TypeSelect from "./TypeSelect/TypeSelect";
import WWbutton from "../common/Button";

export default {
  components: {
    TextInput,
    TypeSelect,
    WWbutton,
    NewCustomFields
  },
  data() {
    return {
      formData: {
        name: "",
        description: "",
        shortDescription: "",
        typeName: "",
        typeIcon: ""
      }
    };
  },
  computed: {
    ...mapGetters({
      currentText: "currentText"
    }),
    isValid() {
      for (const key in this.formData) {
        if (this.formData[key].length == 0) {
          return false;
        }
      }
      return true;
    }
  },
  methods: {
    ...mapActions({
      send: "CREATE_NEW_RESOURCE"
    }),
    typeSelected(data) {
      this.formData.typeName = data.name;
      this.formData.typeIcon = data.icon;
    },
    reset() {
      this.formData = {
        name: "",
        description: "",
        shortDescription: "",
        typeName: "",
        typeIcon: ""
      };
      this.$emit("reset");
    },
    create() {
      this.formData.media = [];
      this.formData.text = this.currentText._id;
      this.send(this.formData);
      this.$emit("added", this.formData);
      this.reset();
    },
    saveCustomFields(data) {
      this.formData.customFields = data;
    }
  }
};
</script>

<style lang="scss" scoped>
.new-resource-form {
  padding: 0px 30px;
  margin-top: 50px;

  height: 690px;
  overflow-y: auto;

  .form-input {
    margin-bottom: 30px;
  }

  .type-select {
    margin-bottom: 15px;
  }

  .buttons {
    display: flex;
    position: absolute;
    bottom: 25px;

    .action-btn {
      margin-right: 10px;
    }
  }
}
</style>