<template>
  <div @click="$emit('click')" :style="properties" class="r-bookmark">
    <i class="material-icons r-bookmark__icon">{{ icon }}</i>
    {{ name }}
  </div>
</template>

<script>
export default {
  props: {
    bgColor: String,
    icon: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    }
  },
  computed: {
    properties() {
      return {
        backgroundColor: this.bgColor || "#ffa407"
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.r-bookmark {
  width: 90px;
  height: 25px;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 3px;
  background-color: purple;
  animation: b-slide-in 0.5s forwards cubic-bezier(0.19, 1, 0.22, 1);
  color: #fff;
  font-size: 11px;
  cursor: pointer;
  border-radius: 3px;

  display: flex;
  align-items: center;
  // padding-left: 5px;
  margin-bottom: 10px;

  &:hover {
    animation: b-slide-out 0.5s forwards cubic-bezier(0.19, 1, 0.22, 1);
  }

  &__icon {
    font-size: 16px;
    margin-right: 7px;
    margin-left: 5px;
  }
}

@keyframes b-slide-out {
  from {
    transform: translateX(70%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes b-slide-in {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(70%);
  }
}
</style>