<template>
  <transition name="slide">
    <div v-show="isOpen" class="detail-sidebar">
      <span title="Закрыть" @click="$emit('close')" class="detail-sidebar__close-btn">
        <i class="material-icons">close</i>
      </span>

      <h2 v-if="isCreating" class="detail-sidebar__title">Новый ресурс</h2>
      <h2 v-else class="detail-sidebar__title">Подробнее о ресурсе</h2>

      <div class="detail-sidebar__content">
        <NewResourceForm @reset="$emit('close')" @added="add" v-if="isCreating" />

        <ResourceDetail v-else />
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters } from "vuex";

import NewResourceForm from "./NewResourceForm";
import ResourceDetail from "./ResourceDetail/ResourceDetail";

export default {
  components: {
    NewResourceForm,
    ResourceDetail
  },
  props: {
    isOpen: {
      required: true,
      type: Boolean
    }
  },
  computed: {
    ...mapGetters({
      isCreating: "isCreatingNewResource"
    })
  },
  methods: {
    add(data) {
      this.$emit("added", data);
    }
  }
};
</script>

<style lang="scss" scoped>
.detail-sidebar {
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 3px;
  min-width: 350px;
  width: 45%;
  height: 85%;
  opacity: 1;
  position: fixed;
  right: 0;
  bottom: 50px;

  &__close-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;

    i {
      color: #f3b344;
      font-size: 20px;
    }
  }

  &__title {
    position: absolute;
    margin: 0;
    top: 15px;
    right: 20px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffa407;
    text-transform: uppercase;
  }
}
</style>

<style>
.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slide-enter,
.slide-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, #ffa407),
    color-stop(0.86, rgb(241, 39, 17))
  );
}
</style>
