<template>
  <div @click="$emit('click')" class="resource-card">
    <i class="material-icons resource-card__icon">{{ iconType }}</i>
    <span v-if="hasMedia" class="resource-card__media-count">
      <span>{{ mediaCount }}</span>
      <i class="material-icons">perm_media</i>
    </span>
    <div class="resource-card__content">
      <h2 class="resource-card__content-title">{{ title }}</h2>
      <p class="resource-card__content-description">{{ description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    iconType: {
      required: true,
      type: String
    },
    mediaCount: {
      type: String
    },
    title: {
      required: true,
      type: String
    },
    description: {
      required: true,
      type: String
    }
  },
  computed: {
    hasMedia() {
      return parseInt(this.mediaCount) ? true : false;
    }
  }
};
</script>

<style lang="scss" scoped>
.resource-card {
  background-color: #f7f7f7;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position: relative;
  width: 230px;
  height: 115px;
  margin-bottom: 25px;

  padding: 5px 20px;

  transition: filter 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    cursor: pointer;
    filter: sepia(40%);
  }

  &__icon {
    position: absolute;
    top: 8px;
    left: 2px;
    font-size: 16px;
  }

  &__media-count {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2px;
    right: 7px;

    span {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 13px;
      padding-right: 2px;
    }

    i {
      font-size: 12px;
    }
  }

  &__content {
    &-title {
      font-family: "Roboto", sans-serif;
      font-size: 13px;
      line-height: 23px;
      font-weight: 400;
      margin: 0px 0px 7px 0px;
    }

    &-description {
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      font-size: 12px;
      line-height: 19px;
    }
  }
}
</style>