<template>
  <div @click="$emit('click')" class="text-icon">
    <span class="icon"></span>
    <div class="filename">{{ filename }}</div>
  </div>
</template>

<script>
export default {
  props: {
    filename: {
      required: true,
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
.text-icon {
  width: 65px;
  cursor: pointer;
  position: relative;
  transition: filter 0.1s ease;
  margin-right: 20px;
  margin-bottom: 20px;

  &:hover {
    filter: sepia(40%);

    .filename {
      color: #744500;
    }
  }

  .icon {
    background-image: url("../../assets/fileIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    display: block;
    margin-bottom: 5px;
  }
  .filename {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;

    width: 100%;
    margin-top: 10px;
    word-wrap: break-word;
  }
}
</style>