<template>
  <div class="search">
    <text-input placeholder="Поиск" @input="search" v-model="searchQuery" />
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import textInput from "../common/Textinput";

export default {
  props: {
    // notes || resources
    array: String
  },
  data() {
    return {
      searchQuery: ""
    };
  },
  components: {
    textInput
  },
  methods: {
    ...mapMutations({
      changeNoteQuery: "SET_NOTE_QUERY_STRING",
      changeResourceQuery: "SET_RESOURCE_QUERY_STRING"
    }),
    search() {
      if (this.array == "notes") {
        this.changeNoteQuery(this.searchQuery);
      } else if (this.array == "resources") {
        this.changeResourceQuery(this.searchQuery);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.search {
  margin-left: 10px;
}
</style>