<template>
  <div class="topbar">
    <div class="tools-container">
      <div class="tools">
        <!-- logo -->
        <div v-if="conditions.logo" class="label-logo"></div>

        <!-- notes -->
        <add-new-note v-if="isNotesPage" />
        <search array="notes" v-if="isNotesPage" />

        <!-- resources -->
        <search array="resources" v-if="conditions.resourcesSearch" />
        <WWbutton
          v-if="conditions.changeText"
          class="changeText-btn"
          color="#fbc02d"
          gradient
          fontColor="white"
          text="Выбрать другой текст"
          fontSize="12"
          @click="changeText(null)"
        />
      </div>
      <UserDropdown v-if="isUserAuthenticated" />
      <div v-else class="auth-buttons">
        <WWbutton @click="login" transparent icon="input" text="Войти" fontSize="12" />
        <WWbutton
          @click="signup"
          transparent
          fontSize="12"
          text="Зарегистрироваться"
          icon="person_outline"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";

import UserDropdown from "@/components/topbar/UserDropdown";
import WWbutton from "../common/Button";
import AddNewNote from "@/components/notes/AddNewNote";

import Search from "./Search.vue";

export default {
  components: {
    UserDropdown,
    WWbutton,
    AddNewNote,
    Search
  },
  computed: {
    ...mapGetters([
      "isUserAuthenticated",
      "currentResourcesPageState",
      "currentText"
    ]),
    isNotesPage() {
      return this.$route.name == "notes" ? true : false;
    },
    isResourcePage() {
      return this.$route.name == "resources" ? true : false;
    },
    isEditorPage() {
      return this.$route.name == "editor" ? true : false;
    },
    conditions() {
      return {
        logo:
          !this.isUserAuthenticated || (!this.isNotesPage && !this.currentText),
        resourcesSearch:
          this.isResourcePage && this.currentResourcesPageState == 1,
        changeText:
          this.isUserAuthenticated &&
          this.isResourcePage &&
          this.currentResourcesPageState == 1
      };
    }
  },
  methods: {
    ...mapMutations({
      resetText: "SET_CURRENT_TEXT",
      setCurrentText: "SET_CURRENT_TEXT",
      changeResPageState: "RESOURCE_PAGE_STATE"
    }),
    changeText(val) {
      // временно, пока ресурсы работают не через component
      this.setCurrentText(val);
      this.changeResPageState(0);
    },
    login() {
      this.$router.push("login");
    },
    signup() {
      this.$router.push("signup");
    }
  }
};
</script>

<style lang="scss" scoped>
.topbar {
  position: fixed;
  top: 0;
  left: 67px;
  min-width: 1366px;
  width: 100vw;
  height: 45px;
  background-color: #fefefe;
  z-index: 1;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  .label-logo {
    background-image: url("../../assets/wworkshop.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 50px;
    margin-left: -5px;
  }

  .tools-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 10px;
    height: 100%;
    width: calc(100% - 85px);
    display: flex;
    position: relative;
    z-index: 10;

    .tools {
      width: calc(100% - 300px);
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .changeText-btn {
        margin-left: 15px;
      }
    }
  }
}
</style>