<template>
  <div @click="isMenuOpen = !isMenuOpen" class="userdropdown-menu">
    <span class="username">{{username}}</span>
    <div class="user-avatar-border">
      <img :src="avatar" width="30" height="30" alt class="user-avatar" />
    </div>
    <transition name="corner">
      <ul v-if="isMenuOpen" class="menu">
        <li class="menu-item" v-for="(item, i) in menuItems" :key="`menu--${i}`">
          <router-link :to="item.to">
            <i class="material-icons">{{ item.icon }}</i>
            {{ item.title }}
          </router-link>
        </li>
        <li @click="signout" class="menu-item">
          <a>
            <i class="material-icons">power_settings_new</i> Выйти
          </a>
        </li>
      </ul>
    </transition>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import faker from "faker";

export default {
  data() {
    return {
      avatar: "",
      isMenuOpen: false,
      menuItems: [
        {
          title: "Настройки",
          icon: "settings",
          to: "profile"
        },
        {
          title: "Заметки",
          icon: "note",
          to: "notes"
        }
      ]
    };
  },
  computed: {
    ...mapGetters(["currentUser"]),
    username() {
      return this.currentUser.username;
    }
  },
  methods: {
    ...mapMutations({
      signout: "UNSET_USER"
    })
  },
  created() {
    // fake data
    this.avatar = faker.image.avatar();
  }
};
</script>

<style lang="scss" scoped>
.userdropdown-menu {
  position: absolute;
  z-index: 99;
  right: 0;

  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;

  .username {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
    position: relative;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      display: block;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: orange;
      transition: transform 0.1s ease-in-out;
      transform: scale(0);
    }
  }

  .user-avatar-border {
    padding: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid transparent;
    transition: border 0.2s linear;

    .user-avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: block;
    }
  }

  .menu {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 110px;
    padding: 10px;
    background: #fefefe;
    border: 0.25px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: 0;

    &-item {
      display: inline-block;
      padding: 3px 0;
      width: 100%;

      &:hover {
        a {
          color: rgb(116, 69, 0);
        }
      }

      .material-icons {
        font-size: 14px;
      }

      a {
        text-decoration: none;
        color: black;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 14px;
      }
    }
  }

  &:hover {
    .user-avatar-border {
      border: 2px solid #ffb344;
    }

    .username {
      &::after {
        transform: scale(1);
      }
    }
  }
}

.corner-enter-active,
.corner-leave-active {
  transition: transform 0.2s;
  transform-origin: right;
  transform: scale(1);
}
.corner-enter,
.corner-leave-to {
  opacity: 0;
  transform: scale(0);
}
</style>