<template>
  <button
    type="button"
    :disabled="isDisabledBtn"
    :class="classObject"
    @click="click"
    :style="properties"
  >
    <i class="material-icons" v-if="icon">{{ icon }}</i>
    {{ text }}
  </button>
</template>

<script>
export default {
  props: {
    text: {
      required: true,
      type: String
    },
    icon: {
      type: String
    },
    transparent: {
      type: Boolean
    },
    color: {
      type: String
    },
    fontSize: {
      type: String
    },
    fontColor: {
      type: String
    },
    gradient: Boolean
  },
  computed: {
    classObject() {
      return {
        color: this.color,
        transparent: this.transparent
      };
    },
    textSize() {
      return `${this.fontSize}px` || "12px";
    },
    properties() {
      return {
        fontSize: this.textSize,
        background: this.gradient
          ? "linear-gradient(to right, #f12711, #f5af19)"
          : this.color,
        color: this.fontColor,
        opacity: this.isDisabledBtn ? "0.4" : 1
      };
    },
    isDisabledBtn() {
      return this.$attrs.disabled;
    }
  },
  methods: {
    click() {
      this.$emit("click");
    }
  }
};
</script>

<style lang="scss" scoped>
button {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;

  &.transparent {
    background-color: transparent;
    color: #000;
  }
  &.color {
    padding: 7px 10px;
    color: white;
  }
}

.material-icons {
  font-size: 13px;
  vertical-align: middle;
}
</style>