<template>
  <div class="text-input">
    <template v-if="type != 'tarea'">
      <input
        @blur="blur"
        @focus="focus"
        @input="input"
        :placeholder="placeholder"
        :readonly="readonly"
        :value="value"
        :type="type"
      />
      <label :class="classObject" class="inputs-label">{{ label }}</label>
    </template>

    <template v-if="type == 'tarea'">
      <label class="tarea-label">{{ label }}</label>
      <textarea
        :style="textAreaStyle"
        @focus="isTextAreaActive = true"
        @blur="isTextAreaActive = false"
        @input="input"
        :readonly="readonly"
        :value="value"
        class="tarea"
      ></textarea>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    label: String,
    placeholder: String,
    type: {
      type: String,
      default: "text"
    },
    readonly: Boolean,
    value: String
  },
  data() {
    return {
      labelIsTop: false,
      labelUp: false,
      isTextAreaActive: false
    };
  },
  computed: {
    classObject() {
      return {
        labelTop: this.labelIsTop,
        labelDown: !this.labelIsTop,
        labelUp: this.labelUp
      };
    },
    textAreaStyle() {
      return {
        borderColor: this.isTextAreaActive ? "#fbc02d" : "rgba(0, 0, 0, 0.2)"
      };
    }
  },
  methods: {
    blur() {
      if (this.$el.childNodes[0].value.length > 0) {
        this.labelIsTop = true;
      } else if (this.$el.childNodes[0].value.length == 0 && this.labelIsTop) {
        this.labelIsTop = false;
      } else {
        this.labelIsTop = false;
        this.labelUp = false;
      }
    },
    focus() {
      this.$el.childNodes[0].value.length == 0
        ? (this.labelUp = true)
        : (this.labelUp = false);
    },
    input(e) {
      this.$emit("input", e.target.value);
    }
  }
};
</script>

<style lang="scss" scoped>
.text-input {
  position: relative;

  input {
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    padding: {
      top: 10px;
      bottom: 5px;
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s linear;
    color: #000;
    font-weight: 300;
    position: relative;
    z-index: 2;
    background-color: transparent;

    font-family: "Roboto", sans-serif;

    &:focus {
      border-bottom-color: #ffb344;
    }
  }

  .inputs-label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #cccccc;
    transform-origin: top left;

    &.labelTop {
      transform: scale(0.8) translateY(-120%) translateX(-10px);
      animation: none;
      color: #ffb344;
    }
    &.labelDown {
      animation: label_floating_down 0.1s linear forwards;

      @keyframes label_floating_down {
        from {
          transform: scale(0.8);
        }
        to {
          transform: scale(1);
          color: #cccccc;
        }
      }
    }
    &.labelUp {
      animation: label_floating 0.1s linear forwards;

      @keyframes label_floating {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(0.8) translateY(-120%) translateX(-10px);
          color: #ffb344;
        }
      }
    }
  }
}

.tarea {
  width: 100%;
  padding: 10px;
  resize: none;
  outline: none;
  height: 150px;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;

  border: 1px solid;

  transition: border 0.3s cubic-bezier(0.23, 1, 0.32, 1);

  &-label {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
  }
}
</style>